<h2 class="text-watermelon">People</h2>

<ul class="list-group">
    <% for i in 0..8 %>
        <a href="#" class="list-group-item">
            <div style="height: 45px; width: 45px; border-radius: 45px; background-color: #ccc;" class="pull-left"></div>
            <h4 class="list-group-item-header" style="margin-left: 55px;">
                Matt Ellis
            </h4>
        </a>
    <% end %>
</ul>

