/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require material_icons
 *= require rails_bootstrap_forms
 */

/*.text-watermelon {
    color: #ff3b3f;
}
.text-sky {
    color: #caebf2;
}
.text-carbon {
    color: #a9a9a9;
}
.bg-watermelon {
    background-color: #ff3b3f;
}
.bg-sky {
    background-color: #caebf2;
}
.bg-carbon {
    background-color: #a9a9a9;
}

.breadcrumb {
    background-color: #a9a9a9;
}
.breadcrumb .active {
    color: #efefef;
}
.breadcrumb a {
    color: #caebf2;
}
.breadcrumb a:hover {
    color: #badbe2;
}*/

/*.text-primary {
    color: #FF5722;
}
.text-primary-dark {
    color: #E64A19;
}
.text-accent {
    color: #caebf2;
}
.bg-primary {
    background-color: #FF5722 !important;
}
.bg-primary-dark {
    background-color: #E64A19;
}
.bg-accent {
    background-color: #caebf2;
}

.breadcrumb {
    background-color: #a9a9a9;
}
.breadcrumb .active {
    color: #efefef;
}
.breadcrumb a {
    color: #caebf2;
}
.breadcrumb a:hover {
    color: #badbe2;
}*/

/*.text-primary {
    color: #607D8B;
}
.text-primary-dark {
    color: #455A64;
}
.text-accent {
    color: #FF5722;
}

.bg-primary {
    background-color: #607D8B !important;
}
.bg-primary-dark {
    background-color: #455A64;
}
.bg-accent {
    background-color: #FF5722;
}*/

.breadcrumb {
    background-color: #CFD8DC;
    margin: 0px -15px -25px -15px;
    padding: 20px 25px 40px 35px;
    border-radius: 0px;
}
.breadcrumb .active {
    color: #656565;
}
.breadcrumb a, a:hover {
    color: #959595;
}
.breadcrumb .links {
    float: right;
    margin-top: -15px;
}
